@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PaginatedList<Technicians.Models.Request>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}

<h2>Admin Dashboard</h2>


@using (Html.BeginForm("Index", "Request", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
        <span class="getReport">
            <a href="@Url.Action("ReportByService","Request")"><input type="button" class="btn btn-primary btn-sm" value="Report By Service" /></a>
            <a href="@Url.Action("ReportByDate","Request")"><input type="button" class="btn btn-primary btn-sm" value="Report By Date" /></a>
        </span>
    </p>

    <br />
    <br />

}
<div class="table-responsive">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().RefNo)
                </th>
                <th>
                    @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().NeededService)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ServiceType)
                </th>
                <th>
                    @Html.ActionLink("Schedule Time", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.First().Comment)
                </th>
                <th>
                    ACTION
                </th>
                <th>
                    Request Status
                </th>
                <th>
                    Payment Status
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeededService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    <a asp-action="Paid" asp-route-id="@item.RequestId">@Html.DisplayFor(modelItem => item.PaymentStatus)</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>