@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model PaginatedList<Technicians.Models.ApplicationUser>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Users";
}

<h2>Registered Users</h2>


@using (Html.BeginForm("Users", "Home", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
        <span class="getReport">
            <a href="@Url.Action("ReportByDate","Home")"><input type="button" class="btn btn-primary btn-sm" value="Report By Date" /></a>
        </span>
    </p>

    <br />
    <br />

}
<div class="table-responsive">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Customer Name", "Users", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>

                <th>
                    Phone Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Membership)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().MyBalance)
                </th>
                <th>
                    @Html.ActionLink("Time Registered", "Users", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    ACTION
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Membership)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NairaBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRegistered)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Details</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>