@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@model Technicians.Models.Request

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "noimage.jpg");
    var videoPath = "~/Videos/" + (Model.VideoPath ?? "novideo.gif");

}

<h2>Request Details</h2>
<hr />
<div class="container">
    <dl class="dl-horizontal">
        <div class="row myform">
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.NeededService)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NeededService)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.ServiceType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ServiceType)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.ScheduleTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ScheduleTime)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.MembershipType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MembershipType)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.RequestStatus)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RequestStatus)
                </dd>
            </div>
            <div class="col-lg-4 col-md-6 myform">
                <dt>
                    @Html.DisplayNameFor(model => model.PaymentStatus)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PaymentStatus)
                </dd>
            </div>
            </div>
            <div class="row myform">
                <div class="col-lg-4 col-md-6 myform">
                    <dt>
                        @Html.DisplayNameFor(model => model.PhotoPath)
                    </dt>
                    <dd data-toggle="modal" data-target="#myModal">
                        <img src="@photoPath" asp-append-version="true" class="myphoto" />
                    </dd>
                </div>
                @if (Model.VideoPath != null)
            {
                <div class="col-lg-4 col-md-6 myform">
                    <dt>
                        @Html.DisplayNameFor(model => model.VideoPath)
                    </dt>
                    <dd>

                        <div>
                            <video width="320" height="240" controls>
                                <source src="@Url.Content(videoPath)" type='video/mp4' />
                            </video>
                        </div>
                    </dd>
                </div>
            }

            </div>
</dl>
    <div>
        <a asp-action="Edit" class="mybtn" asp-route-id="@Model.RequestId">Edit</a> 
        <a asp-action="Index" class="cancel">Back</a>
    </div>
    <div class="modal fade" id="myModal">

        <div class="modal-dialog modal-dialog-centered">

            <img src="@photoPath" asp-append-version="true" />
        </div>
    </div>
</div>

